In [1]:
import codecs
import json
import pandas as pd
pd.options.mode.chained_assignment = None
# this enables us for rewriting dataframe to previous variable
from typing import List, Dict

json_twitter_data = pd.read_json(open("30Arpil.json"))
json_twitter_data.head()

,has_media,hashtags,img_urls,is_replied,is_reply_to,likes,links,parent_tweet_id,replies,reply_to_users,...,screen_name,text,text_html,timestamp,timestamp_epochs,tweet_id,tweet_url,user_id,username,video_url
0,False,[],[],True,True,0,[],298559900987035651,1,"[{'screen_name': 'AndrewAshling', 'user_id': '...",...,kiazishiru,@AndrewAshling Amazon changed that rule about ...,"<p class=""TweetTextSize js-tweet-text tweet-te...",2013-02-04 23:05:01,2013-02-04 23:05:01,298567866591113216,/kiazishiru/status/298567866591113216,263374903,Kia Zi Shiru,
1,False,[],[],True,False,0,[],,1,[],...,krystle_mcCann,I ordered a phone cover off amazon and its est...,"<p class=""TweetTextSize js-tweet-text tweet-te...",2013-02-04 22:44:29,2013-02-04 22:44:29,298562700722708480,/krystle_mcCann/status/298562700722708480,42453316,ùô∫ùöõùö¢ùöúùöùùöïùöé ‚ú®,
2,False,[deadspace3],[],False,False,0,[],,0,[],...,ChefSkeptic,"I love buying games thru @amazon . no tax, rel...","<p class=""TweetTextSize js-tweet-text tweet-te...",2013-02-04 22:40:39,2013-02-04 22:40:39,298561737106526208,/ChefSkeptic/status/298561737106526208,43892262,Jarrid,
3,False,[],[],False,False,0,[],,0,[],...,Deuce_Devious,Amazon Student is too savage.... Free 2day shi...,"<p class=""TweetTextSize js-tweet-text tweet-te...",2013-02-04 22:33:35,2013-02-04 22:33:35,298559959497596928,/Deuce_Devious/status/298559959497596931,40120678,Derrick DeWitt,
4,False,[],[],False,True,0,[],298555116204748801,0,"[{'screen_name': 'craiguk', 'user_id': '171763...",...,danbayliss,@craiguk I should of bulk purchased some tins ...,"<p class=""TweetTextSize js-tweet-text tweet-te...",2013-02-04 22:23:29,2013-02-04 22:23:29,298557413831880704,/danbayliss/status/298557413831880704,1262981,Dan,

In [2]:
json_twitter_data.drop(columns=['has_media', 'hashtags', 'img_urls', 'is_replied','is_reply_to','likes','links','parent_tweet_id','replies','reply_to_users','screen_name','text_html','timestamp','timestamp_epochs','user_id','tweet_url','video_url'], inplace=True)
json_twitter_data.head()

,retweets,text,tweet_id,username
0,0,@AndrewAshling Amazon changed that rule about ...,298567866591113216,Kia Zi Shiru
1,0,I ordered a phone cover off amazon and its est...,298562700722708480,ùô∫ùöõùö¢ùöúùöùùöïùöé ‚ú®
2,0,"I love buying games thru @amazon . no tax, rel...",298561737106526208,Jarrid
3,0,Amazon Student is too savage.... Free 2day shi...,298559959497596928,Derrick DeWitt
4,0,@craiguk I should of bulk purchased some tins ...,298557413831880704,Dan

In [17]:
import json
import csv

# input data
# json_file = open("30Arpil.json", "r")
# json_data = json.load(json_file)
# json_file.close()

# data = json.loads(json_data)

data = pd.read_json(open("30Arpil.json"))

tsv_file = open("data.tsv", "w")
tsv_writer = csv.writer(tsv_file, delimiter='\t')

tsv_writer.writerow(data[0].keys()) # write the header

for row in data: # write data rows
    tsv_writer.writerow(row.values())

tsv_file.close()

KeyError: 0